<ul class="menu-list">
  <div *ngIf="pokemon">
    <img (click)="clickOnImage(pokemon.name)"
         src="{{pokemon.sprites.front_default}}" alt="pokemon"/>
    <li>
      Name : {{pokemon.name | titlecase}}
    </li>
    <li>
      Height : <span *ngIf="pokemon.height; else na">
      {{pokemon.height / 10 | number:'1.0-2'}}m
    </span>
    </li>
    <li>
      Weight : <span *ngIf="pokemon.weight; else na">
      {{pokemon.weight / 10 | number:'1.0-2'}}kg
    </span>
    </li>
    <ng-template #na>N/A</ng-template>
  </div>
</ul>
